img{
  height: 500px;
}

#menuu{
   position: fixed;

}

.mainMenu{
  display: inline-block;
  position: relative;
  width: 150px;
  text-decoration: none;
  color: purple;
  padding: 10px;
  border-style: ridge;
}
